/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body,
select{
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
}

p, 
label,
select{
  font-weight: 400;
  color: gray;
}

h1,
legend{
  font-weight: 700;
}

legend{
  color: #222;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Layout Containers ---- */

header{
  width: 100%;
  text-align: center;
  font-size: .7em;
  height: 6em;
  background: #222;
  color: #57bf9c;
  text-transform: uppercase;
}

.container{
  text-align: center;
  border-bottom: solid 5px #222;
}

.information,
.interests{
  border: none;
  padding-left: 0;
  padding-right: 0;
}

/* ---- Page Elements ---- */

header h1{
  display: inline-block;
  padding-top: .25em;
}

form{
  width: 95%;
  margin: auto;
}

hr{
  margin-top: 3px;
  border: solid .5px #222;
  margin-bottom: 2em;
}

.container h2{
  font-size: 1.4em;
  margin-top: 1.25em;
  margin-bottom: -.25em;
}

.container p{
  font-size: 1.1em;
  margin-bottom: 2em;
}

legend{
  font-size: 1.2em;
  margin-bottom: 1em
}

label,
input,
select{
  display: block;
  margin: auto;
}

label{
  margin-bottom: .75em
}

input,
select{
  width: 100%;
  background-color: #f1f1f1;
  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 5px;
  height: 5em;
  margin-bottom: 1.5em
}

input:last-child{
  width: 50%;
  margin-left: 0;
}

input:focus { 
  outline: none;
  border-color: #57bf9c;
  background-color: white;
}


[placeholder]{
  text-align: right;
  font-style: italic;
  padding-right: 2em;
}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 760px){
  
  
  /* ---- Layout Containers ---- */
  
  
  
  /* ---- Page Elements ---- */

  
  
  .clearfix::after {
    content: "";
	display: table;
    clear: both;
  }
}

