/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

p{
  font-weight: 400;
}

h1,
h2,
h3,
h4{
  font-weight: 700;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */
input:focus { 
    background-color: ivory;
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 760px){
  
  
  /* ---- Navigation ---- */

  
 
  
  /* ---- Layout Containers ---- */
  
  
  
  /* ---- Page Elements ---- */

  
  
  .clearfix::after {
    content: "";
	display: table;
    clear: both;
  }
}

